@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Source Sans Pro Black', "sans-serif";
    color: #3C3B3B;
    background: #cfcdcd;
}

svg{
    font-size: inherit;
    color: #3C3B3B; 
    height: 30px;
    overflow: visible;
    align-items: center;
}

#header{
    text-transform: uppercase;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 1px 0px;
    opacity: 1;
    height: 64px;
    padding: 0px 28px 0px 28px;
    padding-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.main{
    margin: 30px;
}

.links {
    display: none;
}

.links_item a {
    font-size: 14px;
    text-decoration: none;
    color: #828282;
}

.main_title a {
    text-decoration: none;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-source-sans-pro);
    color: var(--dark);
    text-align: left;
    font: normal normal bold 20px Source Sans Pro;
    letter-spacing: 2.8px;
    color: #3C3B3B;
    text-transform: uppercase;
}

.header {
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    width: 235px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.title a {
    color: #3C3B3B;
    text-decoration: none;
}

.secondary_title {
    color: #3C3B3B;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) 20px/28px var(--unnamed-font-family-source-sans-pro);
    color: var(--dark);
    text-align: center;
    font: normal normal 900 28px Source Sans Pro;
    letter-spacing: 6.6px;
    color: #3C3B3B;
    margin-top: 73px;
}

.paragraph {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-source-sans-pro);
    letter-spacing: var(--unnamed-character-spacing-3-92);
    text-align: center;
    font: normal normal normal 20px Source Sans Pro;
    letter-spacing: 3.92px;
    color: #8E8E8E;
    opacity: 1;
    margin-top: 20px;
    padding-top: 60px;
    padding-right: 17px;
    padding-bottom: 50px;
    padding-left: 17px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 61px;
    padding-right: 61px;
}

.actions{    
    height: 62px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: #3C3B3B 1px solid;
}


.button{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.84px;    
}

.meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    margin-top: 40px;
}

.published {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-source-sans-pro);
    letter-spacing: var(--unnamed-character-spacing-1-68);
    color: var(--dark);
    text-align: right;
    font: normal normal 900 14/20px Source Sans Pro;
    letter-spacing: 1.68px;
    color: #3C3B3B;
    text-transform: uppercase;
    width: 250px;
    text-align: center;
}

.author {
    display: flex;
    text-align:center;
    margin-top: 15px;
}

.author span {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/24px var(--unnamed-font-family-source-sans-pro);
    letter-spacing: var(--unnamed-character-spacing-1-44);
    text-align: right;
    text-decoration: underline;
    font: normal normal normal 12px/24px Source Sans Pro;
    letter-spacing: 1.44px;
    color: #808080;
    text-transform: uppercase;
    margin-right: 18px;
}

.author img {
    border-radius: 50%;
}

.image.featured img {
    width: 100%;
    height: auto;
}

.post{
    background-color: #fff;
}

.stats{
    visibility: hidden;
}

.blurb{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    margin-bottom: 50px;
}

.blurb > .paragraph{
    text-align: left;
}

.mini-post{
    display: flex;
    flex-direction: column-reverse;
}

.mini-post > .header{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 100%;
    justify-content: space-between;
}

.shoulders{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 23px;
    margin-top: 20px;
}

.shoulders > .published{
    text-align: left;
    margin-top: 10px;
}

.tertiary_titile a {
    font-size: 14px;
    text-decoration: none;
    color: #828282;
}

.mini-post > .image > img{
    position: relative;
    width: 100%;
}

.author-side > .author{
    width: 46px;
    height: 46px;
    padding-right: 26px;
    padding-bottom: 26px;   
}

.pagination-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.pagination-buttons > .pagination{
    margin: 10px;
}

.disabled{
    color: #8E8E8E;
}

.posts{
    margin-top: 30px;
}

.posts-list{
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
    width: 100%;
}

.posts-list > .header{
    margin-left: 20px;
    text-align: left;
    height: 100px;
}

@media (min-width: 768px) {
    .title {
        width: 90%;
        line-height: 28px;
        display: flex;
        align-items: center;
        margin-left: 34px;
    }
    .secondary_title{
        align-items: flex-start;
        margin-left: 0;
    }
    .meta {
        align-items: flex-end;
        padding-right: 30px;
    }

    .image.featured img {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .paragraph{
        text-align: left;
        margin-left: 0;
    }

    .pagination-buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px;
    }

}

@media (min-width: 1240px) {
    .body-wrapper{
        display: flex;
        flex-flow: row-reverse;
        margin-top: 50px;
    }

    .links{
        display: block;
        flex-grow: 5;
    }

    .main_title{
        padding-right: 20px;
    }

    .links_item a{
        padding-right: 18px;
    }

    .title {
        width: 90%;
        font-size: 20px;
        text-align: left;
        line-height: 28px;
        display: flex;
        align-items: flex-start;
        margin-left: 34px;
    }

    .secondary_title{
        align-items: flex-start;
        margin-left: 0;
    }

    .paragraph{
        text-align: left;
        margin-left: 0;
    }

    .mini-post{
        margin: 35px;
    }

    .posts-list{
        margin: 35px;
    }

}